

<h1>CoachingController#answer</h1>
<p><%= @question %></p>
<p>Now is <%= Time.now %><p>

  <h2><%= @question%></h2>
  <p><%= @answer%></p>

<%= link_to'Ask a new question', ask_path %>
<a href='/ask' />
